.detail-box{
    height: 100vh;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-description{
    height: 600px;
    width: 950px;
    border: 3px solid white;
    background-color: white;
    margin-top: 10vh;
}
.detail-space{
    display: grid;
    grid-template-areas: 'photos texts';
    grid-template-columns: 475px 475px;
}
.photos-area-detail{
    grid-area: 'photos';
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photos-area-detail img{
    height: 400px;
    width: 375px;
    object-fit: cover;
}
.detail-area{
    grid-area: 'texts';
    margin-top: -3px;
    height: 600px;
    border-left: 3px solid #ddaaca;
    background-color: #ddaaca;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}
.detail-area h1{
    font-size: 55px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 100px;
    color: white;
}
.more-details{
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: white;
}
.price{
    color: white;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
.shiping{
    color: white;
    font-family: 'Nunito', sans-serif;
}
.buy-now{
    padding: 5px;
    position: fixed;
    margin-top: -20px ;
    margin-left: 70px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    border: 2px solid white;
    color: white;
    background-color: #ddaaca;
}
.buy-now:hover{
    border: 2px solid white;
    color: black;
    background-color: white;
}