.information-div{
    height: 90vh;
}
.about{
    padding-top: 10vh;
    display: grid;
    grid-template-columns: 800px 600px;
    grid-gap: 300px;
    grid-template-areas: 'text image';
}

.informativ-text{
    border-right: 3px solid #ddaaca;
    height: 80vh;
    width: 700px;
    padding-right: 200px;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    margin-left: 200px;
    grid-area: 'text';
    padding-top: 50px;
    padding-left: 50px;
    color: black;
}

.about-image{
    grid-area: image;
    z-index: 10000;
}
.rocks{
    width: 600px;
    height: 80vh;
    border: 2px solid white;
    border-radius: 15px;
    object-fit: cover;
}